body {
    height: 100%;
}
.pipeline-view {
    position: relative;
    overflow: hidden;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.281);
}
.connections {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.connections * {
    height: 100%;
    width: 100%;
    position: inherit;
}

.pipeline-actions {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.pipeline-step {
    cursor: pointer;
    user-select: none;
}

.incoming-connection:hover,
.outgoing-connection:hover {
    background-color: grey;
}
